<div class="content-wrapper">
    <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">REVISIÓN DE DOCUMENTOS</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item"><a class="text-primary" href="mis-premios.html">REVISIÓN DE
                                DOCUMENTOS</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section class="app-user-list">
            <div class="card">
                <div class="card-body">
                    <form class="add-new-user modal-content pt-0" [formGroup]="actualizarCreditoForm">
                        <div class="modal-header mb-1">
                            <h5 class="modal-title" id="exampleModalLabel">VALORES DEL PROCESO DE CRÉDITO</h5>
                        </div>
                        <div class="modal-body flex-grow-1">

                            <div class="form-group">
                                <label for="monto">Monto solicitado</label>
                                <div class="custom-file">
                                    <input type="number" class="form-control" id="monto"
                                           formControlName="monto"
                                           value="{{actualizarCreditoForm.get('monto').value}}"
                                           disabled
                                    />
                                    <div *ngIf="submitted && controlsFrom.monto.errors"
                                         class="invalid-feedback"
                                         style="display: block;">
                                        <div *ngIf="controlsFrom.monto.errors.required">Monto solicitado es
                                            requerido
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="montoAprobado">Monto aprobado</label>
                                <div class="custom-file">
                                    <input type="number" class="form-control" id="montoAprobado"
                                           formControlName="montoAprobado"
                                           (change)="calcularMontoLiquidar()"
                                           value="{{actualizarCreditoForm.get('montoAprobado').value}}"
                                    />
                                    <div *ngIf="submitted && controlsFrom.montoAprobado.errors"
                                         class="invalid-feedback"
                                         style="display: block;">
                                        <div *ngIf="controlsFrom.montoAprobado.errors.required">Monto aprobado es
                                            requerido
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gastosAdministrativos">Gastos administrativos</label>
                                <div class="custom-file">
                                    <input type="number" class="form-control" id="gastosAdministrativos"
                                           formControlName="gastosAdministrativos"
                                           (change)="calcularMontoLiquidar()"
                                           value="{{actualizarCreditoForm.get('gastosAdministrativos').value}}"
                                    />

                                    <div *ngIf="submitted && controlsFrom.gastosAdministrativos.errors"
                                         class="invalid-feedback"
                                         style="display: block;">
                                        <div *ngIf="controlsFrom.gastosAdministrativos.errors.required">Calificación
                                            de Buró es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="montoLiquidar">MONTO A LIQUIDAR</label>
                                <div class="custom-file">
                                    <input type="number" class="form-control" id="montoLiquidar"
                                           formControlName="montoLiquidar"
                                           value="{{actualizarCreditoForm.get('montoLiquidar').value}}"
                                           disabled
                                    />

                                    <div *ngIf="submitted && controlsFrom.montoLiquidar.errors"
                                         class="invalid-feedback"
                                         style="display: block;">
                                        <div *ngIf="controlsFrom.montoLiquidar.errors.required">Monto a liquidar
                                            es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-header mb-1">
                            <h5 class="modal-title" id="exampleModalLabel2">DOCUMENTOS HABILITANTES </h5>
                        </div>
                        <div class="modal-body flex-grow-1">
                            <div class="form-group" *ngIf="!microEmpresa; else elseBlock">
                                <label for="montoSolicitado">Solicitud de crédito</label>
<!--                                <a href="{{actualizarCreditoForm.get('solicitudCredito').value}}" target="_blank">Enlace</a>-->
                                <button class="btn btn-primary" (click)="viewDataUser(modalSLC)">Enlace</button>
                            </div>
                            <ng-template #elseBlock>
                                <div class="form-group">
                                    <label for="verUsuario">Solicitud de crédito</label>
                                    <button class="btn btn-primary" (click)="viewDataUserMicroCredito(modalSLCMicroCredito)">Enlace</button>
                                </div>
                            </ng-template>

                            <div class="form-group">
                                <label for="pagare">Pagaré</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="pagare"
                                           formControlName="pagare"
                                           (change)="subirDoc( $event, 'pagare')"
                                           accept="application/pdf"/>
                                    <label class="custom-file-label"
                                           for="pagare">{{actualizarCreditoForm.get('pagare').value}}</label>
                                    <div *ngIf="submitted && controlsFrom.pagare.errors" class="invalid-feedback"
                                         style="display: block;">
                                        <div *ngIf="controlsFrom.pagare.errors.required">Cargar Buró es requerido
                                        </div>
                                        <div *ngIf="controlsFrom.pagare.errors.extensionInvalida">
                                            La extension del documento no es pdf
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="contratosCuenta">Contratos de cuenta</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="contratosCuenta"
                                           formControlName="contratosCuenta"
                                           (change)="subirDoc( $event, 'contratosCuenta')"
                                           accept="application/pdf"/>
                                    <label class="custom-file-label"
                                           for="contratosCuenta">{{actualizarCreditoForm.get('contratosCuenta').value}}</label>
                                    <div *ngIf="submitted && controlsFrom.contratosCuenta.errors"
                                         class="invalid-feedback"
                                         style="display: block;">
                                        <div *ngIf="controlsFrom.contratosCuenta.errors.required">Contratos de cuenta
                                            es requerido
                                        </div>
                                        <div *ngIf="controlsFrom.contratosCuenta.errors.extensionInvalida">
                                            La extension del documento no es pdf
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tablaAmortizacion">Tabla de amortización</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="tablaAmortizacion"
                                           formControlName="tablaAmortizacion"
                                           (change)="subirDoc( $event, 'tablaAmortizacion')"
                                           accept="application/pdf"/>
                                    <label class="custom-file-label"
                                           for="tablaAmortizacion">{{actualizarCreditoForm.get('tablaAmortizacion').value}}</label>
                                    <div *ngIf="submitted && controlsFrom.tablaAmortizacion.errors"
                                         class="invalid-feedback"
                                         style="display: block;">
                                        <div *ngIf="controlsFrom.tablaAmortizacion.errors.required">Contratos de cuenta
                                            es requerido
                                        </div>
                                        <div *ngIf="controlsFrom.tablaAmortizacion.errors.extensionInvalida">
                                            La extension del documento no es pdf
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="m-2">
                        <button class="btn btn-primary mr-1" (click)="actualizarSolicitudCredito('En proceso')"
                                [disabled]="cargando">Procesar
                        </button>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>


<!-- INICIO MODAL USER -->
<ng-template #modalSLC let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Buró de crédito</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div style="padding: 20px 20px 20px 20px;">

        <div class="content-header">
            <h5 class="mb-0">Datos Generales</h5>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Fecha de creación de solicitud</label>
                <input type="text" id="vertical-modern-username" class="form-control"
                       value="{{credito.created_at}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label">Nombres</label>
                <input
                        type="email"
                        value="{{userViewData.nombres}}"
                        class="form-control"
                        disabled
                />
            </div>
            <div class="form-group col-md-4">
                <label class="form-label">Apellidos</label>
                <input
                        type="text"
                        value="{{userViewData.apellidos}}"
                        class="form-control"
                        disabled
                />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label" for="vertical-modern-username">Nivel de instrucción</label>
                <input type="text" class="form-control"
                       value="{{userViewData.nivelInstruccion}}" disabled/>
            </div>
            <!--            <div class="form-group col-md-6">-->
            <!--                <label class="form-label">Número de cargas</label>-->
            <!--                <input-->
            <!--                        type="text"-->
            <!--                        class="form-control"-->
            <!--                        value="{{userViewData.numeroCargas}}"-->
            <!--                        disabled-->
            <!--                />-->
            <!--            </div>-->
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Tipo de vivienda</label>
                <input type="text" class="form-control"
                       value="{{userViewData.tipoVivienda}}" disabled/>
            </div>
            <div class="form-group col-md-4" *ngIf="!casaPropia">
                <label class="form-label">Nombre del dueño</label>
                <input
                        type="text"
                        class="form-control"
                        value="{{userViewData.nombreDueno}}"
                        disabled
                />
            </div>
            <div class="form-group col-md-4">
                <label class="form-label">Dirección del domicilio</label>
                <input
                        type="text"
                        class="form-control"
                        value="{{userViewData.direccionDomicilio}}"
                        disabled
                />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Referencias del domicilio</label>
                <input type="text" class="form-control"
                       value="{{userViewData.referenciaDomicilio}}"
                       disabled/>
            </div>

        </div>
        <div class="content-header">
            <h5 class="mb-0">Ocupación del solicitante</h5>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Nombre del negocio o empresa en la que
                    trabaja.</label>
                <input type="text" class="form-control"
                       value="{{ocupacionSolicitante.nombreNegocio}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Direccón del negocio o empresa en la que
                    trabaja.</label>
                <input type="text" class="form-control"
                       value="{{ocupacionSolicitante.direccionNegocio}}" disabled/>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Tiempo de trabajo en el negocio o empresa
                    en la que trabaja (años).</label>
                <input type="text" class="form-control"
                       value="{{ocupacionSolicitante.tiempoTrabajo}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Cargo que desempreña</label>
                <input type="text" class="form-control"
                       value="{{ocupacionSolicitante.cargoDesempeno}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Sueldo que percibe</label>
                <input type="text" class="form-control"
                       value="{{ocupacionSolicitante.sueldoPercibe}}" disabled/>
            </div>

        </div>
        <div class="row" *ngFor="let referencia of referenciasSolicitante; let i = index">
            <div class="col-md-12 my-1">
                <h4>REFERENCIA {{i + 1}}</h4>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="referenciaSolicitante[{{i}}]">Ingrese el
                        parentesco</label>

                    <input disabled="true" type="text" class="form-control"
                           value="{{referencia.referenciaSolicitante}}">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="nombre[{{i}}]">Nombre</label>
                    <input disabled="true" type="text" class="form-control"
                           value="{{referencia.nombre}}">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="apellido[{{i}}]">Apellido</label>
                    <input disabled="true" type="text" class="form-control"
                           value="{{referencia.apellido}}">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="direccion[{{i}}]">Dirección</label>
                    <input disabled="true" type="text" class="form-control"
                           value="{{referencia.direccion}}">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="telefono[{{i}}]">Teléfono celular</label>
                    <input disabled="true" type="text" class="form-control"
                           value="{{referencia.telefono}}">
                </div>
            </div>

        </div>

        <div class="content-header">
            <h5 class="mb-0">INGRESOS DEL SOLICITANTE</h5>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Sueldo Mensual</label>
                <input type="text" class="form-control"
                       value="{{ingresosSolicitante.sueldoMensual}}" disabled/>
            </div>
            <div class="form-group col-md-4" *ngIf="!soltero">
                <label class="form-label" for="vertical-modern-username">Sueldo cónyuge</label>
                <input type="text" class="form-control"
                       value="{{ingresosSolicitante.sueldoConyuge}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Otros Ingresos(valor)</label>
                <input type="text" class="form-control"
                       value="{{userViewData.otrosIngresos}}" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">

            </div>
            <div class="form-group col-md-4">

                <label class="form-label" for="vertical-modern-username">Especifique otros ingresos(ejemplo: vendo
                    articulos de revista en mi tiempo libre, etc.):</label>

                <input
                        type="text" class="form-control" disabled>


            </div>
            <div class="form-group col-md-4">

            </div>

        </div>
        <div class="content-header">
            <h5 class="mb-0">GASTOS DEL SOLICITANTE</h5>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Alimentación</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.alimentacion}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Arriendo(Ingrese 0 si es propia):</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.arriendo}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Vestimenta</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.vestido}}" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Transporte</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.trasporte}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Servicios Básicos</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.serviciosBasicos}}" disabled/>
            </div>
            <div class="form-group col-md-4">
                <label class="form-label" for="vertical-modern-username">Medicina</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.medicina}}" disabled/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label" for="vertical-modern-username">Educación</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.educacion}}" disabled/>
            </div>
            <div class="form-group col-md-6">
                <label class="form-label" for="vertical-modern-username">Otros préstamos(Ingrese el valor
                    mensual)</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.otrosPrestamos}}" disabled/>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label" for="vertical-modern-username">Otros gastos</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.otrosGastos}}" disabled/>
            </div>
            <div class="form-group col-md-6">
                <label class="form-label" for="vertical-modern-username">Especifique otros gastos(ejemplo:
                    colegiaturas dividias,cuidado a terceras personas,etc.)</label>
                <input type="text" class="form-control"
                       value="{{gastosSolicitante.deccripcion}}" disabled/>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
            Cerrar
        </button>
    </div>
</ng-template>
<!-- FIN MODAL USER-->

<!-- INICIO MODAL USER -->
<ng-template #modalSLCMicroCredito let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Buró de crédito</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body text-left">

        <form class="auth-login-form mt-2" [formGroup]="formSolicitud">
            <h3>
                DATOS GENERALES DE TU EMPRESA:
            </h3>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre del representante legal: value={{ this.empresa.reprsentante }}
                        </label>
                        <input type="text"
                               class="form-control"
                               disabled
                               [value]="empresa.reprsentante">
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>RUC de la empresa:
                        </label>
                        <input type="text" formControlName="rucEmpresa"
                               class="form-control"
                               value="{{this.empresa.rucEmpresa}}" disabled>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre comercial de la empresa:
                        </label>
                        <input type="text" formControlName="comercial"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Actividad económica :
                        </label>
                        <input type="text" formControlName="actividadEconomica"
                               class="form-control"
                               value=""
                               disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Dirección del domicilio del representante legal de la empresa :
                        </label>
                        <input type="text" formControlName="direccionDomiciolRepresentante"
                               class="form-control"
                               value=""
                               disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dirección del negocio o empresa :
                        </label>
                        <input type="text" formControlName="direccionDomiciolRepresentante"
                               class="form-control"
                               value=""
                               disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Referencia del domicilio (en la descripción de la ventana
                            escribir: por ejemplo, barrio San Miguel. Frente a la tienda Mi
                            Vecino):
                        </label>
                        <input type="text" formControlName="refenciaNegocio"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Estado civil:
                        </label>
                        <select #teams
                                class="form-control select2" formControlName="esatdo_civil" disabled
                        >
                            <option value="">- Seleccione -</option>
                            <option value="Solter@">- Soltero -</option>
                            <option value="Casado">- Casado -</option>
                            <option value="Divorciado">- Divorciado -</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Teléfono convencional:
                        </label>
                        <input type="text" formControlName="telefono"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Teléfono celular:
                        </label>
                        <input type="text" formControlName="celular"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Correo electrónico:
                        </label>
                        <input type="text" formControlName="correo"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
            </div>
            <!--Conyuge-->
            <div class="row">

                <div *ngIf="casado">
                    <h3>
                        Datos cónyuge:
                    </h3>
                    <br>
                    <form class="auth-login-form mt-2" [formGroup]="controlsContuge">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Nombres y apellidos:
                                    </label>
                                    <input type="text" formControlName="nombreConyuge"
                                           class="form-control"
                                           value="" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Teléfono celular:
                                    </label>
                                    <input type="text" formControlName="telefonoConyuge"
                                           class="form-control"
                                           value="" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Correo electrónico:
                                    </label>
                                    <input type="text" formControlName="correoConyuge"
                                           class="form-control"
                                           value="" disabled>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>
                        REFERENCIAS FAMILAIRES:
                    </h3>
                </div>
                <div class="col-4"></div>


            </div>
            <ng-container formArrayName="familiares">
                <ng-container
                        *ngFor="let familiar of formSolicitud.get('familiares')['controls']; let i = index">
                    <h5>
                        Familair {{i + 1}} {{familiar['controls']?.tipoPariente.value}}:
                    </h5>
                    <div [formGroup]="familiar">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Nombre
                                    </label>
                                    <input type="text" formControlName="nombreFamiliar"
                                           class="form-control"
                                           value="" disabled>
                                </div>
                            </div>
                            <!--                                                        <div *ngIf="submitted && controlsFrom.nombreFamiliar.errors"-->
                            <!--                                                             class="invalid-feedback"-->
                            <!--                                                             style="display: block;">-->
                            <!--                                                            <div *ngIf="controlsFrom.nombreFamiliar.errors.required">-->
                            <!--                                                                Nombre-->
                            <!--                                                                referencia familiar es-->
                            <!--                                                                requerido-->
                            <!--                                                            </div>-->
                            <!--                                                        </div>-->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Apellido
                                    </label>
                                    <input type="text" formControlName="apellidoFamiliar"
                                           class="form-control"
                                           value="" disabled>
                                </div>
                            </div>
                            <!--                                                        <div *ngIf="submitted && controlsFrom.apellidoFamiliar.errors"-->
                            <!--                                                             class="invalid-feedback"-->
                            <!--                                                             style="display: block;">-->
                            <!--                                                            <div *ngIf="controlsFrom.apellidoFamiliar.errors.required">-->
                            <!--                                                                Apellido-->
                            <!--                                                                referencia familiar es-->
                            <!--                                                                requerido-->
                            <!--                                                            </div>-->
                            <!--                                                        </div>-->


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Teléfono:
                                    </label>
                                    <input type="text" formControlName="telefonoFamiliar"
                                           class="form-control"
                                           value="" disabled>
                                </div>
                            </div>
                            <!--                                                        <div *ngIf="submitted && controlsFrom.telefonoFamiliar.errors"-->
                            <!--                                                             class="invalid-feedback"-->
                            <!--                                                             style="display: block;">-->
                            <!--                                                            <div *ngIf="controlsFrom.telefonoFamiliar.errors.required">-->
                            <!--                                                                Teléfono-->
                            <!--                                                                referencia familiar es-->
                            <!--                                                                requerido-->
                            <!--                                                            </div>-->
                            <!--                                                        </div>-->


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Dirección:
                                    </label>
                                    <input type="text" formControlName="direccionFamiliar"
                                           class="form-control"
                                           value="" disabled>
                                </div>
                            </div>
                            <!--                                                        <div *ngIf="submitted && controlsFrom.direccionFamiliar.errors"-->
                            <!--                                                             class="invalid-feedback"-->
                            <!--                                                             style="display: block;">-->
                            <!--                                                            <div *ngIf="controlsFrom.direccionFamiliar.errors.required">-->
                            <!--                                                                Dirección-->
                            <!--                                                                del familiar es-->
                            <!--                                                                requerido-->
                            <!--                                                            </div>-->
                            <!--                                                        </div>-->
                        </div>

                    </div>
                </ng-container>
            </ng-container>
            <h3>
                INGRESOS Y GASTOS DEL NEGOCIO:
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Ingresos mensuales en ventas (valor):
                        </label>
                        <input type="text" formControlName="inresosMensualesVentas"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sueldo cónyuge (de ser casado) (VALOR):
                        </label>
                        <input type="text" formControlName="sueldoConyuge"
                               class="form-control"
                               value="" disabled>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Otros ingresos (valor) :
                        </label>
                        <input type="text" formControlName="otrosIngresos"
                               class="form-control"
                               value="" disabled>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Gastos mensuales en compras para el negocio (valor) :
                        </label>
                        <input type="text" formControlName="gastosMensuales"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Gastos familiares (valor)
                        </label>
                        <input type="text" formControlName="gastosFamilaires"
                               class="form-control"
                               value="" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            Especifique otros ingresos (ejemplo: vendo artículos de revista
                            en mi tiempo libre, etc.)
                        </label>
                        <input type="text" formControlName="especificaIngresos"
                               class="form-control"
                               value="" disabled>
                    </div>

                </div>
            </div>

        </form>

    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
            Cerrar
        </button>
    </div>
</ng-template>
<!-- FIN MODAL USER-->
