<div class="content-wrapper">
    <!-- <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Calificar compras</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item"><a class="text-primary" href="mis-facturas.html">Calificar
                                    compras</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="content-body">
        <!-- users list start -->
        <section class="app-user-list">
            <!-- <div class="card">
                <div class="card-header">
                    <h4 class="text-primary d-block">Califica aquí tus compras, por cada compra que califiques reciben 10 super monedas.</h4>
                </div>
            </div> -->
            <!-- <div class="card">
                <div class="card-header">
                    <h6 class="d-block">Filtros de búsqueda</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather='calendar'></i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm flatpickr-range flatpickr-input" placeholder="- Rango de fechas">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

            <!-- users filter end -->
            <!-- list section start -->
            <div class="card">
                <div class="row m-75">
                    <div class="col-lg-12 col-xl-6">
                        <label>Mostrar</label>
                        <select class="form-control-sm" [(ngModel)]="page_size" (change)="obtenerListaEmpresas()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>

                    </div>
                    <div class="col-lg-12 col-xl-6 text-right">
                        <a (click)="toggleSidebar('guardarEmpresa','')" class="btn btn-primary">
                Añadir empresa
              </a>
                    </div>
                </div>
                <div class="card-datatable table-responsive pt-0">

                    <table class="user-list-table table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Nombre</th>
                                <th>País</th>
                                <th>Provincia</th>
                                <th>Ciudad</th>
                                <th>Dirección</th>
                                <th>RUC</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empresa of empresas">
                                <td>
                                    {{empresa.nombreEmpresa}}
                                </td>
                                <td>
                                    {{empresa.pais}}
                                </td>
                                <td>
                                    {{empresa.provincia}}
                                </td>

                                <td>
                                    {{empresa.ciudad}}
                                </td>
                                <td>
                                    {{empresa.direccion}}
                                </td>
                                <td>
                                    {{empresa.ruc}}
                                </td>
                                <td>
                                    <div class="badge {{empresa.estado == 'Activo' ? 'badge-success':'badge-warning'}}">
                                        {{empresa.estado}}
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" container="body" placement="top" ngbTooltip="Editar" (click)="toggleSidebar('guardarEmpresa',empresa._id)"><i class="mr-1" size="18" data-feather="edit"></i
                                  ></a>
                                    <a href="javascript:void(0);" container="body" placement="top" ngbTooltip="Eliminar" (click)="eliminarEmpresaModal(empresa._id)"><i class="mr-1" size="18" data-feather="trash"></i
                                  ></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Modal to add new user starts-->
                <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="page_size" [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                <!-- Modal to add new user Ends-->
            </div>
            <!-- list section end -->
        </section>
        <!-- users list ends -->
    </div>
</div>
<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="guardarEmpresa" overlayClass="modal-backdrop">
    <div class="slideout-content">
        <!-- Modal to add new user starts-->
        <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-user modal-content pt-0" [formGroup]="empresaForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleSidebar('guardarEmpresa',0)">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">Afiliación de empresa</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
                        <div class="form-group">
                            <label>Ruc</label>
                            <input class="form-control" name="ruc" formControlName="ruc" type="text" [(ngModel)]="empresa.ruc">
                            <div *ngIf="empresaSubmitted && empForm.ruc.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.ruc.errors.required">Ruc es requerido
                                </div>
                                <div *ngIf="empForm.ruc.errors.pattern">Solo se aceptan números
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre de la Empresa</label>
                            <input class="form-control" name="nombreEmpresa" formControlName="nombreEmpresa" type="text" [(ngModel)]="empresa.nombreEmpresa">
                            <div *ngIf="empresaSubmitted && empForm.nombreEmpresa.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.nombreEmpresa.errors.required">Nombre de la empresa es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre comercial de la Empresa</label>
                            <input class="form-control" name="nombreComercial" formControlName="nombreComercial" type="text" [(ngModel)]="empresa.nombreComercial">
                            <div *ngIf="empresaSubmitted && empForm.nombreComercial.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.nombreComercial.errors.required">Nombre de la empresa es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customFile1">Imagen</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile1" (change)="subirImagen($event)" accept="image/png, image/jpeg, image/jpg" />
                                <label class="custom-file-label" for="customFile1">{{imagen}}</label>
                                <!-- <div *ngIf="productosSubmitted && prodForm.imagen.errors" class="invalid-feedback" style="display: block;">
                                    <div *ngIf="prodForm.imagen.errors.required">Imagen es requerido</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo de empresa</label>
                            <select class="form-control" name="tipoEmpresa" formControlName="tipoEmpresa" [(ngModel)]="empresa.tipoEmpresa">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let tipoEmpresaOp of tipoEmpresaOpciones" value="{{tipoEmpresaOp.valor}}">{{tipoEmpresaOp.nombre}}</option>

                            </select>
                            <div *ngIf="empresaSubmitted && empForm.tipoEmpresa.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.tipoEmpresa.errors.required">Tipo de empresa es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Categoría de negocio de empresa</label>
                            <select class="form-control" name="tipoCategoria" formControlName="tipoCategoria" [(ngModel)]="empresa.tipoCategoria">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let categoriaEmpresa of categoriaEmpresaOpciones" value="{{categoriaEmpresa.valor}}">{{categoriaEmpresa.nombre}}</option>

                            </select>
                            <div *ngIf="empresaSubmitted && empForm.tipoCategoria.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.tipoCategoria.errors.required">Categoría de negocio de empresa es requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>País</label>
                            <select class="form-control" name="pais" formControlName="pais" [(ngModel)]="empresa.pais" (change)="obtenerProvinciaOpciones()">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let paisOp of paisOpciones" value="{{paisOp.nombre}}">{{paisOp.nombre}}</option>

                            </select>
                            <div *ngIf="empresaSubmitted && empForm.pais.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.pais.errors.required">País es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Provincia</label>
                            <select class="form-control" name="provincia" formControlName="provincia" [(ngModel)]="empresa.provincia" (change)="obtenerCiudadOpciones()">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let provinciaOp of provinciaOpciones" value="{{provinciaOp.nombre}}">{{provinciaOp.nombre}}</option>

                            </select>
                            <div *ngIf="empresaSubmitted && empForm.provincia.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.provincia.errors.required">Provincia es requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ciudad</label>
                            <select class="form-control" name="ciudad" formControlName="ciudad" [(ngModel)]="empresa.ciudad">
                                <option value="">- Seleccione -</option>
                                <option *ngFor="let ciudadOp of ciudadOpciones" value="{{ciudadOp.nombre}}">{{ciudadOp.nombre}}</option>

                            </select>
                            <div *ngIf="empresaSubmitted && empForm.ciudad.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.ciudad.errors.required">Ciudad es requerida
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Dirección</label>
                            <input class="form-control" name="direccion" formControlName="direccion" type="text" [(ngModel)]="empresa.direccion">
                            <div *ngIf="empresaSubmitted && empForm.direccion.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.direccion.errors.required">Dirección es requerida
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Teléfono 1</label>
                            <input class="form-control" name="telefono1" formControlName="telefono1" type="text" [(ngModel)]="empresa.telefono1">
                            <div *ngIf="empresaSubmitted && empForm.telefono1.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.telefono1.errors.required">Teléfono 1 es requerido
                                </div>
                                <div *ngIf="empForm.telefono1.errors.pattern">Solo se aceptan números
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Teléfono 2</label>
                            <input class="form-control" name="telefono2" formControlName="telefono2" type="text" [(ngModel)]="empresa.telefono2">
                            <div *ngIf="empresaSubmitted && empForm.telefono2.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.telefono2.errors.required">Teléfono 2 es requerido
                                </div>
                                <div *ngIf="empForm.telefono2.errors.pattern">Solo se aceptan números
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Correo</label>
                            <input class="form-control" name="correo" formControlName="correo" type="text" [(ngModel)]="empresa.correo">
                            <div *ngIf="empresaSubmitted && empForm.correo.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.correo.errors.required">Correo es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" name="estado" formControlName="estado" [(ngModel)]="empresa.estado">
                                <option value="">- Seleccione -</option>
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                            <div *ngIf="empresaSubmitted && empForm.estado.errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="empForm.estado.errors.required">Estado es requerido
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary mr-1" [disabled]="cargandoEmpresa" (click)="guardarEmpresa()"> <span *ngIf="cargandoEmpresa" class="spinner-border spinner-border-sm mr-1"></span> Guardar</button>
                        <button (click)="toggleSidebar('guardarEmpresa','')" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal to add new user Ends-->
    </div>

</core-sidebar>
<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>
<ng-template #eliminarEmpresaMdl let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Confirma eliminar</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="eliminarEmpresa()">SI</button>
    </div>
</ng-template>